{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/dashboard/" class="brand-link" style="text-align: center;">
    <img src="{% static 'images/sabo.png' %}" alt="logo" width="75">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <div style="margin-bottom:15px"></div>
    <!-- Sidebar user panel (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'images/user.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a class="d-block">
          {{ request.user.first_name }} {{ request.user.last_name }}
        </a>
      </div>
    </div> -->

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-friends"></i>
            <p>
              TRIGRS
            </p>
            <i class="fas fa-angle-left right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'data-trigrs' %}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>Data TRIGRS</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add-data-trigrs' %}" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Data TRIGRS</p>
              </a>
            </li>
          </ul>
        </li>
        <br />
        <br />
        <li class="nav-item">
          <a href="{% url 'change-password' %}" class="nav-link">
            <i class="nav-icon fas fa-key"></i>
            <p>
              Change Password
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Sign Out
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>